VITE_API_BASE_URL=http://localhost:8001
VITE_SITE_BASE_URL=http://localhost:3001
VITE_DEFAULT_LOCALE=tr
VITE_DEFAULT_THEME=light
VITE_GOOGLE_WEB_CLIENT_ID=1092498940492-g21ar6rl2ujm0d5rn4bh3m5od8q8q390.apps.googleusercontent.com
